Order Totals.xlsm
env
Amazon exports
.vscode
__pycache__
build
dist
project_diffs.txt
Copies of all CSVs.lnk
CSV Files.lnk
Amazon exports.lnk
Backups
Custom Labels Sorter.xlsm
Amazon SKU Mapping.xlsx
csvs
TODO.txt
*.json
*.xlsx
*.txt
*.csv
*.spec
*.db
*.xlsm